JWT token error 25315

When trying to log in to the activated account this error appears. Need help :/

How to log in?
**1.** First, register using the next POST request in Postman:
_http://localhost:8088/api/v1/auth/register_
with body (example):
_{
    "firstname": "Jeff",
    "lastname": "Bezqqq",
    "email": "amazonelover@gmail.com",
    "password": "inversofcontroll1234"
}_
**2.** Secondly, go to _http://localhost:1080/#/_ and see you activation token.
Use your token with GET request _http://localhost:8088/api/v1/auth/activate-account?token=389843_ 
(replace 389843 with your token).

**3.** Lastly, log in with POST request:
_http://localhost:8088/api/v1/auth/authenticate_
Use next body:
_{
    "email": "amazonelover@gmail.com",
    "password": "inversofcontroll1234"
}_



**THE ERROR:**
ERROR 25315 --- [nio-8088-exec-9] o.a.c.c.C.[.[.[.[dispatcherServlet]      : Servlet.service() for servlet [dispatcherServlet] in context with path [/api/v1] threw exception [Request processing failed: io.jsonwebtoken.security.WeakKeyException: The specified key byte array is 168 bits which is not secure enough for any JWT HMAC-SHA algorithm.  The JWT JWA Specification (RFC 7518, Section 3.2) states that keys used with HMAC-SHA algorithms MUST have a size >= 256 bits (the key size must be greater than or equal to the hash output size).  Consider using the io.jsonwebtoken.security.Keys#secretKeyFor(SignatureAlgorithm) method to create a key guaranteed to be secure enough for your preferred HMAC-SHA algorithm.  See https://tools.ietf.org/html/rfc7518#section-3.2 for more information.] with root cause